.heading-text{
    font-size: 45px;
  font-weight: 900;
  width: min-content;
  margin-bottom: 1.8rem;

}

.main-homepage-container{
    padding: 62px 35px 0 100px;
}
.paragraph{
    font-size: 1rem;
  line-height: 1.5rem;
  max-width: 18.4rem;
  color: #cecece;
  margin-bottom: 1.8rem;
}