*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #151515;
}

nav{
    /* height: 6.2rem; */
    display: flex;
    justify-content: space-between;
}
.logo{
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-img{
    /* display: inline-block; */
  height: 4.15rem;
  display: flex;
  align-items: center;
}
.logo img{
    display: inline-block;
  height: 4.15rem;
}
.menu ul{
    display: flex;
    gap: 20px;
}
.menu ul li{
    list-style: none;
    color: #eee;
}